
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--forma sem carregamento que não gera valor via backend requeste value
    <select>
        <option>Acre</option>
        
        <option>Alagoas</option>
        
        <option>Amapá</option>
        
        <option>Amazonas</option>
        
        <option>Bahia</option>
        
        <option>Ceará</option>
        
        <option>Distrito Federal</option>
        
        <option>Espírito Santo</option>
        
        <option>Goiás</option>
        
        <option>Maranhão</option>
        
        <option>Mato Grosso</option>
        
        <option>Mato Grosso do Sul</option>
        
        <option>Minas Gerais</option>
        
        <option>Pará</option>
        
        <option>Paraíba</option>
        
        <option>Paraná</option>
        
        <option>Pernambuco</option>
        
        <option>Piauí</option>
        
        <option>Rio de Janeiro</option>
        
        <option>Rio Grande do Norte</option>
        
        <option>Rio Grande do Sul</option>
        
        <option>Rondônia</option>
        
        <option>Roraima</option>
        
        <option>Santa Catarina</option>
        
        <option>São Paulo</option>
        
        <option>Sergipe</option>
        
        <option>Tocantins</option>
    </select>
    <input id='cidade' type="text" placeholder="Insira a Cidade">
    <button id="botao">Selecionar</button>
-->
    <form action="{%url 'home0'%}" method="POST" enctype="multipart/form-data">{%csrf_token%}
    <select name="valor_0">
        <option>Acre</option>
        
        <option>Alagoas</option>
        
        <option>Amapá</option>
        
        <option>Amazonas</option>
        
        <option>Bahia</option>
        
        <option>Ceará</option>
        
        <option>Distrito Federal</option>
        
        <option>Espírito Santo</option>
        
        <option>Goiás</option>
        
        <option>Maranhão</option>
        
        <option>Mato Grosso</option>
        
        <option>Mato Grosso do Sul</option>
        
        <option>Minas Gerais</option>
        
        <option>Pará</option>
        
        <option>Paraíba</option>
        
        <option>Paraná</option>
        
        <option>Pernambuco</option>
        
        <option>Piauí</option>
        
        <option>Rio de Janeiro</option>
        
        <option>Rio Grande do Norte</option>
        
        <option>Rio Grande do Sul</option>
        
        <option>Rondônia</option>
        
        <option>Roraima</option>
        
        <option>Santa Catarina</option>
        
        <option>São Paulo</option>
        
        <option>Sergipe</option>
        
        <option>Tocantins</option>
    </select>
    <input name='valor_1' id='cidade' type="text" placeholder="Insira a Cidade">
    <button id="botao">Selecionar</button>
    </form>
    <div id="info_cidade" style="display:none;">
        <p>Estado:{{sigla}}</p>
        <p>Cidade:{{cidade}}</p>
        <p id="max_data" >Maxima: {{maxima}}°</p>
        <p id="min_data" >Minima: {{minima}}°</p>
    </div>
    <div id="conteudo_estendido" style="display:none;">
        <button id="botao_estender">Próximos Dias</button>
        <div id="conteudo_estendido_0" style="display:none;">
            <p>{{dia_0.data_prev}} => Max:{{dia_0.max_diaria}} Min:{{dia_0.min_diaria}}</p>
            <p>{{dia_1.data_prev}} => Max:{{dia_1.max_diaria}} Min:{{dia_1.min_diaria}}</p>
            <p>{{dia_2.data_prev}} => Max:{{dia_2.max_diaria}} Min:{{dia_2.min_diaria}}</p>
            <p>{{dia_3.data_prev}} => Max:{{dia_3.max_diaria}} Min:{{dia_3.min_diaria}}</p>
            <p>{{dia_4.data_prev}} => Max:{{dia_4.max_diaria}} Min:{{dia_4.min_diaria}}</p>
            <p>{{dia_5.data_prev}} => Max:{{dia_5.max_diaria}} Min:{{dia_5.min_diaria}}</p>
        </div>
    </div>
<script>
    document.querySelector('#botao_estender').addEventListener('click', function(){
        if(document.querySelector('#conteudo_estendido_0').style.display=='none'){
        document.querySelector('#conteudo_estendido_0').style.display='block'}
        else{document.querySelector('#conteudo_estendido_0').style.display='none'}
    })
    
    if(document.querySelector('#max_data').innerHTML.length>9 && document.querySelector('#min_data').innerHTML.length>9){
        document.querySelector('#conteudo_estendido').style.display='block'
        document.querySelector('#info_cidade').style.display='block'
    }
   

    
</script>
</body>
</html>